<!doctype html>
<html ng-app="viewerApp">

<head>
  <title>DataViewer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
</head>



<body>

<div id="main" ng-controller="DatasetsCtrl">
<div class="container">
  <div class="row">

  <div class="col-md-2">
    <ul style="list-style: none;">
      <li ng-repeat="set in sets">
        <button 
          class="btn"
          ng-click="set_current_set(set)">
            {{set}}
        </button>
      </li>
    </ul>
  </div>
    


  <div class="col-md-10">
    <div ng-repeat="param_group in param_groups">
      <p>
      <div class="btn-group">
        <button 
          class="btn btn-default"
          ng-repeat="param in param_group"
          ng-click="set_param(param,param_group)">
          {{param}}
        </button>
      </div>
      </p>
    </div>

    <img src="{{filename}}" align="center" />
  </div>

</div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="/app.js"></script>
</body>
</html>
